@{
    ViewData["Title"] = "Home Page";
}
@model dynamic

<form asp-action="Index" method="post">
    <button type="submit" name="action" value="drawOne" class="btn btn-dark">Draw One Card</button>
    <button type="submit" name="action" value="drawAll" class="btn btn-secondary">Draw All Cards</button>
</form>
