@{
    ViewData["Title"] = "Home Page";
}
@model List<Card>

<div class="container">
        <ul>
            @foreach (var c in Model)
            {
                <li>@c.GetValueAndSuit()</li>
            }
        </ul>
    </div>
